<!DOCTYPE html>
<html decorate="~{layouts/defaultTemplate}" data-bs-theme="dark">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	</head>
	<body>
		<div th:replace="~{layouts/commonheader :: header}"></div>
		<br>
		<br>
		<section layout:fragment="content">
			<p> replace this with a page that has a layout:fragment="content"</p>
		</section>
		<!-- <div th:replace="~{layouts/commonfooter :: footer}"> -->
		</div>

		<!-- Include jQuery, Popper.js, and Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</body>
</html>
